body{
    display: grid;
    grid-template-rows: 82vh 13vh 5vh;
}

.container{
    display: flex; 
    justify-content: center; /*centraliza na horizontal*/
    align-items: center; /*centraliza na vertical*/
    background-color: aliceblue;
    gap: 10px;

}
